body {
	background-color: rgb(245,245,246);
  font-family: 'Lato', sans-serif, helvetica;
	cursor: default;
	font-size: 1.0em;
}
a {
color: #fff;
text-decoration: underline;
text-decoration-color: #f80;
}
a:hover {
}
input {
	user-select: none;
	font-family: 'Lato', sans-serif, helvetica;
	font-size: 1.0em;
}
select {
	user-select: none;
	font-family: 'Lato', sans-serif, helvetica;
	font-size: 1.0em;
}

#searchfield {
	font-size: 2em;
}

#div_left_areasmall {
  position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
  width: 55px;
	background-color: #29434e;
	z-index: 2;
	user-select: none;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.separator {
	width: 100%;
	position: relative;
	top: 65px;
	height: 0px;
	left: 0px;
	background-color: #333;
	user-select: none;
}

#leftinfo {
	position: fixed;
	color: #888;
	bottom: 5px;
	right: 5px;
	text-align: center;
	background-color: rgba(0,0,0,1);
	font-size: 0.6vw;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	z-index: 1;
	padding: 10px;
	opacity: 0.9;
	border-radius: 5px;
	user-select: none;
}
#leftinfo b {
	color: #fff;
}
#leftinfo i {
	color: #f44;
	font-style: normal;
}
.leftchoicesmall {
	position: relative;
	left: 10px;
	top: 20px;
	user-select: none;
	color: rgba(255,255,255,0.4);
	padding-bottom: 10px;
	cursor: pointer;
}
.leftchoicesmall:hover {
	position: relative;
	top: 20px;
	user-select: none;
	color: rgba(255,255,255,1);
}
.topleftcorner {
	background: linear-gradient(to right, #29434e 10%, #102027 100%);
	position: fixed;
	top: 0;
	left: 50px;
	width: 155px;
	min-height: 30px;
	height: 9vh;
	z-index: 2;
	box-sizing: border-box;
}
.toprightcorner {
	background: linear-gradient(to left, #29434e 10%, #102027 100%);
	position: fixed;
	top: 0;
	right: 0;
	width: 155px;
	height: 57px;
	z-index: 1;
	box-sizing: border-box;
}

#div_right_areasmall {
  position: absolute;
  left: 60px;
  top: 2vh;
}
#div_right_areasmall a {
	color: #546e7a;
	text-decoration-color: #819ca9;
}
#div_right_areasmall a:hover {
	color: #819ca9;
}
#area_titlesmall {
  position: fixed;
  font-size: 25px;
  left: 80px;
  top: 3vh;
	z-index: 3;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

#area_titlesmall a {
	color: #8cc;
	text-decoration: none;
}
#area_titlesmall a:hover {
	color: #8ff;
}

#area_body {
  position: relative;
  top: 9vh;
  left: 20px;
	padding-bottom: 18vh;
}

#errorone {
	visibility: block;
	user-select: none;
}

#startdatepicker{
	position: absolute;
	top: 50%;
	transform: translate(-30%,-50%);
	right: 50%;
	user-select: none;
}
#startdatepicker input {
	border: none;
	background: #344;
	color: #fff;
	text-align: center;
	user-select: none;
}
#enddatepicker{
	position: absolute;
	top: 50%;
	transform: translate(30%,-50%);
	left: 50%;
	user-select: none;
}
#enddatepicker input {
	border: none;
	background: #344;
	color: #fff;
	text-align: center;
	user-select: none;
}

#bigthing {
	position: fixed;
	top: 0px;
	left: 100px;
	right: 0px;
	bottom: 0px;
	user-select: none;
}
.tbl_empnumber {
	position: absolute;
}
.tbl_employees {
	position: absolute;
	left: 40px;
}
.tbl_empuserid{
	position: absolute;
	left: 300px;
}
.tbl_empteam{
	position: relative;
	left: 500px;
}
.metricdisplay {
	color: #fff;
	padding: 1em;
}
#topbar {
	position: fixed;
	z-index: 1;
	left: 0;
	width: 100%;
	top: 0;
	height: 9vh;
	background: #102027;
	color: #62727b;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	user-select: none;
}
#topbar input, #topbar select {
	background-color: #102027;
	color: #fff;
	border: none;
}
#topbar input:hover, #topbar select:hover {
	background: #37474f;
}
#preferred_team {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
	text-align: right;
	user-select: none;
}
.preferred-team-title {
	position: absolute;
	right: 170px;
	top: 50%;
	transform: translateY(-50%);
	color: #62727b;
	z-index: 4;
}

#prevmonthsmall {
	position: absolute;
	left: 20vw;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
	user-select: none;
}
#prevmonthsmall img {
	width: 70px;
	height: 70px;
	opacity: 0.5;
  filter: grayscale(100%) brightness(100%);

}
#prevmonthsmall img:hover {
  filter: grayscale(0%) brightness(110%);
	opacity: 1;

}
#nextmonthsmall {
	position: absolute;
	right: 20vw;
	transform: translateX(250%);
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
	user-select: none;
}
#nextmonthsmall img {
	width: 70px;
	height: 70px;
  filter: grayscale(100%) brightness(100%);
	opacity: 0.5;

}
#nextmonthsmall img:hover {
  filter: grayscale(0%) brightness(110%);
	opacity: 1;
}
#lastsevendays{
	display: none;
	position: fixed;
	left:50%;
	transform: translate(100px,0%);
	top: 30px;
	font-size: 0.7em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	border-bottom-left-radius: 2em;
	border-bottom-right-radius: 2em;
	user-select: none;
}
#lastsevendays:hover {
	transform: translate(81%,-1%);
	background-color: #111;
}
#lastsevendays a {
	text-decoration: none;
}
#currentmonth{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	user-select: none;
}

#tmpicker {
	z-index:4;
	position: absolute;
	top: 5px;
	left: 50%;
	transform: translate(-50%,0%);
}

table.sortable thead {
  font-weight: bold;
  cursor: pointer;
}

#queuelist td {
	color: #ccc;
	width: 100px;
	text-align: center;
}

#bonustable{
	background-color: #000;
	border: 2px solid #000;
	color: #666;
}
#bonustable thead {
	background-color: #111;
}
#bonustable th {
	font-size: 7pt;
	font-weight: normal;
	color: #ddd;
	height: 9em;
}
#bonustable th.rotated{
	transform: rotate(-90deg);
	text-align: left;
}
table#bonustable tfoot {
	background-color: #999;
	color: #000;
	font-weight: bold;
}
#bonustable td {
	font-size: 10pt;
	border-right: 1px solid #444;
	border-bottom: 1px solid #444;
	padding-right: 0.8em;
	padding-left: 0.8em;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: right;
}

.editor {
	background-color: #222;
	border: 1px dashed #ff8000;
	color: #fc0;
	padding: 5px;
	margin: 0;
	width: 45px;
	user-select: none;
}
.editor:hover {
	background-color: #f80;
	color: #fff;
}
.editor:active {
	background-color: #f00;
	color: #fff;
}
.pptd {
}

td.tmname{
	color: #fff;
	font-weight: bold;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
}



.tabler {
	border: 1px solid #333;
	background-color: #222;
	color: #ccc;
}
.tabler th {
}
.tabler td {
	border-right: 1px solid: #444;
	border-bottom: 1px solid #444;
}

#qdtable {
	background-color: #111;
}
#qdtable th {
	border-right: 1px solid #444;
	color: #fff;
	border-bottom: 1px solid #444;
	font-size: 12pt;
	font-weight: normal;
}
#qdtable td {
	border-right: 1px solid #222;
	border-bottom: 1px solid #222;
	color: #666;
	font-size: 10pt;
	padding: 0.2em;
	text-align: center;
}
.qdth {
	width: 5em;
}

.sectionheader {
	font-size: 2.2em;
	text-align: center;
	font-weight: 900;
	letter-spacing: -0.08em;
}
.sectionname {
	text-align: right;
	font-size: 0.8em;
	color: #888;
	padding-right: 5px;
}
.sectioncounter {
	color: rgba(0,0,0,0.2);
}

table.sortable tbody {
    counter-reset: sortabletablescope;
}
table.sortable thead tr::before {
    content: "";
    display: table-cell;
}
table.sortable tfoot tr::before {
    content: "";
    display: table-cell;
}
table.sortable tbody tr::before {
    content: counter(sortabletablescope);
    counter-increment: sortabletablescope;
    display: table-cell;
}

table.bt{
	color: #000;
	border-spacing: 0;
	border: 1px solid #666;
	background-color: #ccc;
	margin-top: 2em;
}
table.bt th {
	font-weight: normal;
}
table.bt th.rotated{
	transform: rotate(-90deg);
	height: 9em;
	text-align: left;
}
table.bt tfoot td {
	font-weight: bold;
	background-color: #333;
	color: #fff;
}
table.bt td {
	text-align: center;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	background-color: #fff;
	padding: 10px;
}
.dashboardtd {
	padding: 0;
	position: relative;
	margin: 0;
	border-radius: 2px;
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;
}
.dashboardtd:hover {
	opacity: 0.7;
}
.valuearea {
	text-align: center;
	display: inline-block;
	width: 100%;
	font-size: 2.5em;
	padding-left: 1.6em;
	padding-right: 1em;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	height: 100%;
	box-sizing: border-box;
	border-radius: 2px;
}
.targettitle {
	text-align: center;
	position: absolute;
	font-size: 0.9em;
	left: 10px;
	top: 6px;
	opacity: 0.5;
}
.targetarea {
	text-align: center;
	position: absolute;
	font-size: 0.7em;
	color: #ca9;
	left: 30px;
	top: 10px;
}
.targetdeltatitle {
	position: absolute;
	font-size: 0.9;
	left: 12px;
	top: 21px;
	opacity: 0.5;
}
.targetdelta {
	text-align: center;
	position: absolute;
	font-size: 0.7em;
	color: #f80;
	left: 30px;
	top: 25px;
}

.sevendaystitle {
	text-align: center;
	position: absolute;
	font-size: 0.7em;
	color: #000;
	right: 10px;
	width: 25px;
	top: 50%;
	transform: translateY(-20px);
	opacity: 0.5;
}
.sevendaysarea {
	text-align: center;
	position: absolute;
	font-size: 0.7em;
	color: #000;
	right: 10px;
	width: 25px;
	top: 50%;
	transform: translateY(-50%);
}
.sevendaysdelta {
	background-color: #ddd;
	text-align: center;
	position: absolute;
	font-size: 0.7em;
	padding: 2px;
	right: 10px;
	top: 50%;
	transform: translateY(7px);
}

.goodie {
	color: #0a0;
}
.baddie {
	color: #a00;
}

.deltagood {
	color: #fff;
	background-color: #060;
}
.deltabad {
	background-color: #f00;
	color: #fff;
}
.latest {
	font-size: 0.5em;
	color: #bbb;
	letter-spacing: normal;
	font-weight: normal;
}

#message {
	background-color: #fff;
	color: #000;
	padding: 1em;
	margin-right: 20em;
	border: 20px solid #404080;
}

.bonuskicker {
	border-left: 2px solid #000;
}
.kickergood {
	color: #06f;
}
.kickerbad {
	background: none;
	color: #644;
}
.new {
	color: #fff;
	background-color: #c40;
	padding: 4px;
	font-size: 10px;
	float: left;
	border-radius: 5px;
	cursor: default;
}

.unselectable {
	user-select: none;
}
.seating {
	margin: 0;
	padding: 0;
	border-spacing: 1px;
	background-color: #ccc;
	color: #000;
}
.seating tr {
	height: 40px;
	max-height: 40px;
}
.seating td {
	width: 50px;
	max-width: 50px;
	box-sizing: border-box;
	font-size: 10px;
	color: #666;
	background-color: #fff;
	text-align: center;
	overflow: hidden;
}
td.seatable:hover {
	background-color: #ddd;
	color: #ccc;
}
td.seatable {
}
td.seatedbottom { border-bottom: 2vh solid #000; }
td.seatedbottom:hover { background-color: #ddd; }
td.seatedbottom.team4 { border-bottom: 2vh solid #005293; }
td.seatedbottom.team5 { border-bottom: 2vh solid #c60c30; }
td.seatedbottom.team6 { border-bottom: 2vh solid #800000; }
td.seatedbottom.team7 { border-bottom: 2vh solid #ff6600; }
td.seatedbottom.team14 { border-bottom: 2vh solid #000000; }

td.seatedleft { border-left: 2vw solid #000; }
td.seatedleft:hover { background-color: #ddd; }
td.seatedleft.team4 { border-left: 2vw solid #005293; }
td.seatedleft.team5 { border-left: 2vw solid #c60c30; }
td.seatedleft.team6 { border-left: 2vw solid #800000; }
td.seatedleft.team7 { border-left: 2vw solid #ff6600; }
td.seatedleft.team14 { border-left: 2vw solid #000000; }

td.seatedtop { border-top: 2vh solid #000; }
td.seatedtop:hover { background-color: #ddd; }
td.seatedtop.team4 { border-top: 2vh solid #005293; }
td.seatedtop.team5 { border-top: 2vh solid #c60c30; }
td.seatedtop.team6 { border-top: 2vh solid #800000; }
td.seatedtop.team7 { border-top: 2vh solid #ff6600; }
td.seatedtop.team14 { border-top: 2vh solid #000000; }

td.seatedright { border-right: 2vw solid #000; }
td.seatedright:hover { background-color: #ddd; }
td.seatedright.team4 { border-right: 2vw solid #005293; }
td.seatedright.team5 { border-right: 2vw solid #c60c30; }
td.seatedright.team6 { border-right: 2vw solid #800000; }
td.seatedright.team7 { border-right: 2vw solid #ff6600; }
td.seatedright.team14 { border-right: 2vw solid #000000; }

td.wall {
	background-color: #ccc;
	border: none;
}
td.wall:hover {
	background-color: #ddd;
}

td.door {
	background-color: #999;
	border: 0;
}
td.door:hover {
	background-color: #333;
}

td.issues {
	background-color: #f00;
}

.seating-tools {
	background-color: #ddd;
	padding: 10px;
	position: fixed;
	top: 95px;
	right: 5px;
	width: 120px;
	text-align: center;
	opacity: 0.9;
	border-radius: 1em;
}
.seating-tools button {
	background-color: #222;
	border: 1px solid #333;
	margin: 1px;
	color: #888;
	padding: 5px;
	cursor: pointer;
	width: 110px;
	border-radius: 4px;
}
.seating-tools button:hover {
	background-color: #444;
}
.seating-legend {
	position: fixed;
	right: 5px;
	top: 400px;
	color: #000;
	border-radius: 1em;
	background-color: #ddd;
	padding: 10px;
	text-align: right;
}
@media all and (max-width: 1300px) {
    #leftinfo {
        display: none;
    }
}

@media all and (max-width: 900px) {
	body {
		margin: 0;
		padding: 0;
	}
	.topleftcorner {
		display: none;
	}
	#div_left_areasmall {
		position: fixed;
		clear: right;
		left: 0;
		top: 0;
		height: auto;
	  width: 100%;
		box-sizing: border-box;
		background-color: #29434e;
		z-index: 2;
		user-select: none;
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		font-size: 5vw;
		margin: 0;
		padding: 0;
		padding-left: 5vw;
		padding-top: 0.5vh;
	}
	.leftchoicesmall {
		position: relative;
		float: left;
		user-select: none;
		color: rgba(255,255,255,0.4);
		padding: 0;
		margin: 0;
		padding-right: 1vw;
		cursor: pointer;
		top: 0;
		box-sizing: border-box;
	}
	.leftchoicesmall:hover {
		top: 1px;
	}
	#div_right_areasmall {
		position: relative;
		padding: 0;
		margin: 0;
		padding-top: 0;
		left: 0;
		right: 0;
		width: 94%;
		box-sizing: border-box;
	}
	#topbar {
		display: none;
	}

	#area_titlesmall {
		position: relative;
		text-align: center;
		width: 100%;
		left: 0;
		z-index: 1;
		padding-top: 5vh;
		font-size: 15vw;
		box-sizing: border-box;
	}
	#area_titlesmall a {
		color: #444;
	}
	#area_titlesmall a:hover {
		color: #555;
	}
	table#dashboard {
		width: 100%;
		box-sizing: border-box;
	}
	.sectionheader {
		font-size: 6vw;
		box-sizing: border-box;
	}
	.dashboardtd {
		border: none;
		border-radius: none;
	}
	.dashboard-divider {
		width: 100%;
		font-weight: bold;
		text-align: center;
	}
	.valuearea {
		padding-left: 0;
		border-radius: 0;
		border-right: 2px solid rgba(255,255,255,0.2);
		border-bottom: 2px solid rgba(255,255,255,0.2);
		padding-right: 0;
		padding-top: 6vw;
		padding-bottom: 6vw;
		font-size: 5vw;
		background-color: #bbb;
		box-sizing: border-box;
	}
	.xtoggle {
		display: none;
	}
	.sectionname {
		font-size: 8px;
	}
	td {
		color: #444;
	}
	th {
	font-size: 10px;
	}
	tr::before {
		font-size: 8px;
		width: 20px;
	}
	table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
		content: 0;
	}
	#prevmonthsmall {
		position: relative;
		display: block;
		user-select: none;
	}


}
