@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Kalam');


:root {
	--main-color: #2F80ED;
	--fonts: 'Roboto', helvetica, sans-serif;
}

* {
	//outline: 1px solid red;
	box-sizing: border-box;
}

body {
	font-family: var(--fonts);
	cursor: default;
	margin: 0;
	padding: 0;
}

a {
	color: var(--main-color);
	text-decoration: none;
}

a:hover {
	color: #9CC6FF;
	text-decoration: underline;
}

.saettem-logo {
	margin-top: 50px;
	text-align: center;
	margin-bottom: 50px;
}
.saettem-logo img {
	width: 100px;
}
.saettem-logo img:hover {
		filter: saturate(2);
}

.no-padding {
	padding: 0;
}
.no-padding td {
	padding: 0;
}

img.photo {
	border-radius: 50%;
	filter: brightness(1.2) saturate(0);
	border: 2px solid rgba(255, 255, 255, 0.4);
}
.leftinfo {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 10px;
	width: 200px;
	font-size: 10pt;
	background: rgba(0, 0, 0, 0.4);
	color: rgba(255, 255, 255, 0.9);
	font-weight: 300;
	z-index: 100;
}
table.trend-table {
	width: 100%;
	overflow: hidden;
	margin-top: 2rem;
}
.double-column-wrapper {
	box-sizing: border-box;
	clear: both;
	display: inline-block;
}
.double-column-wrapper > div {
	padding: 1rem;
	box-sizing: border-box;
	border: 1px solid #eee;
}
.double-column-first {
	float: left;
}
.double-column-second {
	float: left;
	clear: right;

}
.before {
	background: linear-gradient(to right,  #005293 0%,#fecb00 100%);
	width: 100%;
	height: 0.7rem;
	top: 0;
	left: 0;
	content: '';
	display: block;
	position: absolute;
}
hr {
	border: none;
	border-bottom: 1px solid #ccc;
	margin-top: 30px;
	margin-bottom: 30px
}
.userbadge {
	width: 300px;
}
.adjustedball {
	position: relative;
	font-size: 0.95em;
	top: -0.1em;
	padding: 0;

}

.dashboard {
	border-spacing: 0;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.dashboard td {
	border: none;
}

.simple-good {
	abackground: #1a9641;
	acolor: #2aa651;
	background: rgb(198, 239, 206);
	color: rgb(0, 97, 0);
}

.simple-bad {
	abackground: #d7191c;
	acolor: #e7292c;

	background: rgb(255, 199, 206);
	color: rgb(156, 0, 6);
}

.button {
	padding: 1rem;
	display: inline;
	border-radius: 5px;
}

.button:hover {
	cursor: pointer;
}

.button-simple {
	position: absolute;
	right: 1rem;
	top: -2rem;
	font-size: 80%;
}

.button-newhires {
	position: absolute;
	right: 140px;
	top: -2rem;
	border-right: 1px solid #ccc;
	padding-right: 20px;
	font-size: 80%;
}

tfoot {
	font-weight: bold;
	font-size: 130%;
}

input, select {
	user-select: none;
	font-family: var(--fonts);
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.player {
	border-top-left-radius: 32px;
	border-bottom-left-radius: 32px;
	border-top-right-radius: 32px;
	border-bottom-right-radius: 32px;
	display: inline-block;
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.9);
	cursor: pointer;
	background: #111;
	transform: translateZ(0);
	padding: 1px 15px 1px 15px;
	height: 46px;
	overflow: visible;
	margin-left: -10px;
	margin-top: -3px;

	font-family: var(--fonts);
	font-size: 1.2rem;
	font-weight: normal;
}

.player:hover {
	transform: scale(1.1);
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.player:hover .player-level {
	color: #fff;
}

.player:hover .player-guild {
	opacity: 1;
}

.player:hover .photo {
	filter: none;
	transform: scale(1.3);
	border: 2px solid rgba(255, 255, 255, 0.4);
}

.player:hover .player-name {
	font-weight: 900;
}

.player .photo {
	transform: scale(1.2);
}

.player-photo {
	display: inline-block;
	float: left;
	padding: 0 5px 0 5px;
}

.player-guild {
	font-size: 24px;
	float: left;
	transform: translateY(5px);
	padding: 0 5px 0 5px;
}

.player-level {
	color: rgba(255, 255, 255, 0.6);
	font-size: 190%;
	letter-spacing: -0.2rem;
	font-weight: 900;
	float: left;
	padding: 0 8px 0 3px;
}

.player-firstname {
	font-weight: 500;
	font-size: 100%;
	letter-spacing: -0.07rem;
	float: left;
	transform: translateY(11px);
	padding: 0 1px 0 5px;
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.player-surname {
	font-weight: 300;
	font-size: 14pt;
	letter-spacing: -0.07rem;
	float: left;
	transform: translateY(11px);
	padding: 0 5px 0 5px;
	text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
	display: none;
}

.player-rank {
	font-size: 60%;
	float: left;
	transform: translateY(14px);
	padding: 0 0 0 8px;
}

.clearer {
	display: block;
	clear: both;
	font-size: 3rem;
	color: rgba(0, 0, 0, 0.1);
	padding: 7px;
}

.searchfield {
	font-size: 2em;
}

.bar-actions {
	font-size: 16px;
	user-select: none;
	text-align: left;
	position: absolute;
	left: 0px;
	width: 170px;
	height: 100vh;
	padding-top: 25px;
	color: #999;
	border-right: 1px solid #eee;
	font-weight: 300;
}

.bar-actions span {
	color: rgba(0, 0, 0, 0.2);
	font-size: 22px;
	text-align: center;
	display: inline-block;
	margin-left: 10px;
	padding-top: -10px;
	width: 40px;
	padding-right: 10px;
}

.bar-actions-action {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	border-left: 10px solid transparent;
}

.bar-actions-action-selected {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	border-left: 10px solid var(--main-color);
	background: #fff;
	color: #000;
	font-weight: 700;
}

.bar-actions-action-selected span {
	color: var(--main-color);
}

.bar-actions-action:hover {
	color: #000;
	cursor: pointer;
	background: #eee;
}

.bar-actions-action-name {
	display: inline;
}

.bar-actions-action-name:hover {
	cursor: pointer;
}

.top-bar {
	position: relative;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	background: var(--main-color);
	color: #fff;
}

.new-logo {
	display: block;
	position: absolute;
	left: 57px;
	top: 13px;
}

.new-logo .logo-text {
	font-size: 28px;
	font-weight: 900;
}

.new-logo .logo-colors {
	top: 0;
	height: 5px;
}

.new-logo .logo-text > a {
	text-decoration: none;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.9);
}

.new-logo .logo-text > a:hover {
	color: rgba(255, 255, 255, 1);
}

.new-logo .logo-colors > div {
	width: 33%;
	height: 100%;
	float: left;
}

.new-logo .logo-colors .logo-green {
	background: #1a9641;
}

.new-logo .logo-colors .logo-amber {
	background: #fdae61;
}

.new-logo .logo-colors .logo-red {
	background: #d7191c;
}

.currentmonth {
	width: 100%;
	text-align: center;
}

.bar-select-dates {
	position: fixed;
	width: 214px;
	right: 0;
	height: 100vh;
	top: 0;
	padding: 90px 20px 20px 20px;
	text-align: left;
	display: block;
	background: #fff;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.1);
}

.startdatepicker,.enddatepicker {
	padding: 20px 0 20px 0;
}

.bigthing {
	user-select: none;
	position: fixed;
	left: 100px;
	bottom: 0px;
	right: 0px;
	top: 0px;
}

.tbl_empnumber {
	position: absolute;
}

.tbl_employees {
	position: absolute;
	left: 40px;
}

.tbl_empuserid{
	position: absolute;
	left: 300px;
}

.tbl_empteam{
	position: relative;
	left: 500px;
}
.metricdisplay {
	padding: 1em;
	color: #fff;
}

.tmpicker {
	transform: translate(-50%,0%);
	position: absolute;
	z-index:4;
	left: 50%;
	top: 5px;
}

table.sortable thead {
  cursor: pointer;
}
td.tmname{
	font-weight: bold;
	color: #000;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
}

.dashboard-team {
	font-weight: 400;
	padding-bottom: 15px;
	text-align: center;
	width: 120px;
	font-size: 12px;
}

.text-right {
	text-align: right;
}
.dashboard-team-flag {
	text-align: center;
	font-size: 1.7vw;
}
.dashboard-team-name {
	font-weight: 700;
	display: block;
	font-size: 1.2vw;
}
.dashboard-team-phone-volume, .dashboard-team-email-volume {
	display: none;
}

.dashboard-team-info {
	text-align: left;
}

.dashboard-team svg {
	font-size: 14px;
	color: #ddd;
}

.pad {
	border-radius: 5px;
	padding: 2rem;
	position: relative;
	box-shadow: 0 1px 1px 0 hsla(0, 0%, 0%, 0.1);
}
.pad > .title {
	font-size: 1.5rem;
}

.module-title {
	position: relative;
	left: 250px;
	top: 35px;
	font-size: 200%;
	display: inline-block;
}
.module-title a {
	color: #333;
}
.module-title svg {
	font-size: 80%;
	color: var(--main-color);
}
.module-general {
	position: relative;
	left: 200px;
	top: 20px;
	border-radius: 3px;
	width: calc(100% - 450px);
	box-sizing: border-box;
	border-top: 3px solid var(--main-color);

}
.module-general > h1 {
	margin-top: 1rem;
	margin-bottom: 2rem;
}
.module-general > h1 > svg {
	padding-right: 0.5rem;
}
.icon-month-previous {
	position: absolute;
	right: 160px;
	top: 23px;
	border-radius: 100%;
	font-size: 8px;
}
.icon-month-next {
	position: absolute;
	right: 25px;
	top: 23px;
	border-radius: 100%;
	font-size: 8px;
}

.top-search-bar {
	margin-top: 8px;
	padding: 15px 15px 15px 45px;
	margin-left: -32px;
	font-size: 14pt;
	background: #EFF6FF;
	border: none;
	width: calc(100% - 220px - 214px); /* Subtract fixed left and right bars */
}
.search-icon {
	position: relative;
	margin-left: 220px;
	color: rgba(0, 0, 0, 0.2);
	font-size: 14pt;
}
::placeholder {
	color: #B4C4DB;
}
.time-interval-year {
	position: absolute;
	right: 0;
	top: 10px;
	width: 214px;
	color: white;
	font-size: 20px;
	font-weight: lighter;
	text-align: center;
	display: inline;
	font-weight: 300;
}
.time-interval-month {
	text-align: center;
	position: absolute;
	right: 0;
	top: 32px;
	width: 214px;
	font-size: 20px;
	font-weight: 900;
	color: white;
	display: inline;
}

table.sortable tbody {
    counter-reset: sortabletablescope;
}
table.sortable thead tr::before {
	display: table-cell;
	content: "#";
	color: #888;
	font-size: 0.6em;
	vertical-align: middle;
	padding-right: 1rem;
}
table.sortable tfoot tr::before {
	display: table-cell;
	content: "";
	padding-right: 1rem;
}
table.sortable tbody tr::before {
		counter-increment: sortabletablescope;
		content: counter(sortabletablescope);
		display: table-cell;
		background: none;
		color: #888;
		padding-right: 1rem;
		font-size: 0.6em;
		vertical-align: middle;
}
th {
	padding-bottom: 0.5em;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: 600;
	text-align: left;
	padding-bottom: 1px;
	padding-top: 1px;
	font-size: 80%;
}
.dashboard th {
	border-bottom: none;
}

table {
	border-spacing: 0;
}


.topleftradius {
	border-top-left-radius: 1rem;
}
.toprightradius {
	border-top-right-radius: 1rem;
}
.bottomleftradius {
	border-bottom-left-radius: 1rem;
}
.bottomrightradius {
	border-bottom-right-radius: 1rem;
}

.dashboardtd {
	padding: 0;
	width: 120px;
	height: 120px;
	text-align: center;
}

td {
	box-sizing: border-box;
}

.valuearea {
	font-size: 32px;
	font-weight: 900;
}

.targetarea {
	font-size: 16px;
	font-weight: 500;
	display: block;
}

.targetdeltatitle {
}

.targetdelta {
	display: block;
	font-weight: 300;
	font-size: 12px;
}

.targettitle, .sevendaystitle, .sevendaysarea, .sevendaysdelta {
	display: none;
}

div.tabs {
	margin-left: 260px;
	font-size: 12px;
}

.tab {
	position: relative;
	height: 30px;
	background: var(--main-color);
	box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.05);
	padding: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	top: -59px;
	color: white;
}
.tab-selected {
	background: white;
	color: var(--main-color);
	top: -56px;
}

.deltagood {
	color: #0c0;
}
.deltabad {
	color: #c00;
}
.message {
	border: 20px solid #404080;
	background-color: #fff;
	margin-right: 20em;
	padding: 1em;
	color: #000;
}


.bonuskicker {
	border-left: 2px solid #000;
}
.kickergood {
	color: #06f;
}
.kickerbad {
	background: none;
	color: #f06;
}
.new {
	background-color: #c40;
	border-radius: 5px;
	font-size: 10px;
	cursor: default;
	padding: 4px;
	float: left;
	color: #fff;
}

.unselectable {
	user-select: none;
}
.seating {
	background-color: #ccc;
	border-spacing: 1px;
	color: #000;
	padding: 0;
	margin: 0;
}
.seating tr {
	max-height: 40px;
	height: 40px;
}
.seating td {
	box-sizing: border-box;
	background-color: #fff;
	text-align: center;
	overflow: hidden;
	max-width: 50px;
	font-size: 10px;
	color: #666;
	width: 50px;
}
td.seatable:hover {
	background-color: #ddd;
	color: #ccc;
}
td.seatable {
}
td.seatedbottom { border-bottom: 2vh solid #000; }
td.seatedbottom:hover { background-color: #ddd; }
td.seatedbottom.team4 { border-bottom: 2vh solid #005293; }
td.seatedbottom.team5 { border-bottom: 2vh solid #c60c30; }
td.seatedbottom.team6 { border-bottom: 2vh solid #800000; }
td.seatedbottom.team7 { border-bottom: 2vh solid #ff6600; }
td.seatedbottom.team14 { border-bottom: 2vh solid #000000; }

td.seatedleft { border-left: 2vw solid #000; }
td.seatedleft:hover { background-color: #ddd; }
td.seatedleft.team4 { border-left: 2vw solid #005293; }
td.seatedleft.team5 { border-left: 2vw solid #c60c30; }
td.seatedleft.team6 { border-left: 2vw solid #800000; }
td.seatedleft.team7 { border-left: 2vw solid #ff6600; }
td.seatedleft.team14 { border-left: 2vw solid #000000; }

td.seatedtop { border-top: 2vh solid #000; }
td.seatedtop:hover { background-color: #ddd; }
td.seatedtop.team4 { border-top: 2vh solid #005293; }
td.seatedtop.team5 { border-top: 2vh solid #c60c30; }
td.seatedtop.team6 { border-top: 2vh solid #800000; }
td.seatedtop.team7 { border-top: 2vh solid #ff6600; }
td.seatedtop.team14 { border-top: 2vh solid #000000; }

td.seatedright { border-right: 2vw solid #000; }
td.seatedright:hover { background-color: #ddd; }
td.seatedright.team4 { border-right: 2vw solid #005293; }
td.seatedright.team5 { border-right: 2vw solid #c60c30; }
td.seatedright.team6 { border-right: 2vw solid #800000; }
td.seatedright.team7 { border-right: 2vw solid #ff6600; }
td.seatedright.team14 { border-right: 2vw solid #000000; }

td.wall {
	background-color: #ccc;
	border: none;
}
td.wall:hover {
	background-color: #ddd;
}

td.door {
	background-color: #999;
	border: 0;
}
td.door:hover {
	background-color: #333;
}

td.issues {
	background-color: #f00;
}
.faint {
	color: #ddd;
}

.seating-tools {
	background-color: #ddd;
	border-radius: 1em;
	text-align: center;
	position: fixed;
	padding: 10px;
	width: 120px;
	opacity: 0.9;
	right: 5px;
	top: 95px;
}
.seating-tools button {
	background-color: #222;
	border: 1px solid #333;
	border-radius: 4px;
	cursor: pointer;
	width: 110px;
	padding: 5px;
	margin: 1px;
	color: #888;
}
.seating-tools button:hover {
	background-color: #444;
}
.seating-legend {
	background-color: #ddd;
	border-radius: 1em;
	text-align: right;
	position: fixed;
	padding: 10px;
	color: #000;
	top: 400px;
	right: 5px;
}
.big-title {
	text-transform: uppercase;
	word-spacing: 5px;
	text-align: center;
	font-weight: 500;
	font-size: 12px;
	padding-bottom: 0.2rem;
	padding-top: 30px;
}
.dashboard-metric-name {
	padding-right: 25px;
	text-align: right;
	font-size: 17px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.6);
}
.ranker {
	padding: 7px 60px 7px 15px;
	margin: 2px;
	height: 60px;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	transform: rotateZ(0);
	display: inline-block;
	clear: both;
	float: none;
}
.ranker:hover {
	transform: scale(1.04);
}
.ranker-name {
	font-size: 1.2rem;
	font-weight: 700;
	color: rgba(255, 255, 255, 1);
}
.ranker-username {
	font-size: 0.8rem;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.6);
	letter-spacing: 0.03rem;
}
.ranker-photo {
	position: fixed;
	right: 3px;
	top: 3px;
}
.combined {
	font-weight: bold;
	font-size: 150%;
}
.big-div {
	position: fixed;
	top: 0px;
	left: 57px;
	right: 0;
	bottom: 0px;
	background-color: #2f80ff;
	background-image: linear-gradient(135deg, #2f80ff 25%, #af00ff 100%);
	color: #fff;
	padding: 10px 10px 10px 10px;
	text-align: center;
	overflow-y: auto;
}

::selection {
	background: #fecb00;
	color: #fff;
}

.big-div hr {
	height: 1px;
	padding: 0;
	margin: 0;
	color: #fff;
	background: rgba(255, 255, 255, 0.1);
	border: none;
	width: 70vw;
	height: 8px;
	left: 50%;
	position: relative;
	transform: translateX(-50%);
	margin-top: 10px;
	margin-bottom: 10px;
}
.surfer-check {
	position: fixed;
	left: 48%;
	transform: translateX(-50%);
	font-size: 70px;
	padding: 20px;
	border-radius: 100%;
	border: 7px solid rgba(255, 255, 255, 0.5);
	background-color: rgba(255, 255, 255, 0.3);
	width: 100px;
	height: 100px;
	margin-top: 20px;
}
.surfer-check span {
	position: relative;
	top: -25px;
	left: -6px;
	color: #fff;
}
.surfer-check:hover {
	cursor: pointer;
	border: 7px solid rgba(255, 255, 255, 0.9);
	background-color: rgba(255, 255, 255, 0.5);
	color: #2af651;
}
.big-quote {
	font-family: 'Sacramento';
	font-size: 7vh;
}

.surfer-label {
	color: rgba(255, 255,255, 0.5);
	padding-right: 20px;
	width: 500px;
	text-align: right;
	font-weight: 300;
	font-size: 14px;
	display: table-cell;
}
.surfer-data {
	display: table-cell;
	text-align: left;
	width: 600px;
	font-weight: 300;
	font-size: 14px;
	color: rgba(255, 255,255, 0.8);
}
.surfer-comment {
	font-family: 'Kalam';
	font-size: 2.8vh;
	display: table-cell;
	text-align: left;
	width: 700px;
	line-height: 1.2;
}

.row {
	display: table-table-row;
	width: 1200px;
	text-align: center;
}

.score {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #000;
	color: #fff;
}
.surf-me {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;
}
